doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width')
        meta(name='renderer', content='webkit')

        title= '自由钢琴 | AutoPiano'
        link(rel="stylesheet", href="/piano/static/css/app.570692239a001ea8b589c20c34d2f237.css")
    body
        #app AutoPiano
        script(src='/jquery.min.js')