doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name='viewport', content='width=device-width')
        meta(name="author" content="github@warpprism")
        title= title
        link(rel="stylesheet", href="normalize7.css")
        <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "https://hm.baidu.com/hm.js?6eecd2a1ff88fcf09181774d3c50be45";
              var s = document.getElementsByTagName("script")[0]; 
              s.parentNode.insertBefore(hm, s);
            })();
        </script>

        block css
        
        //- block js
        //- if ENV_DEVELOPMENT
            //- script(src='http://localhost:35729/livereload.js')
    body
        block content
        script(src='jquery.min.js')
        block js